In [2]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\mafan\appdata\local\programs\python\python310\lib\site-packages (9.2.0)Note: you may need to restart the kernel to use updated packages.

In [5]:
import mysql.connector as connector 
from mysql.connector import Error

In [6]:
try:
    connection = connector.connect(user = "Admin1", password = "maxTelle,7020", database = "LittleLemonDB", host = "localhost", use_pure = True)
    print("Connection Succesfull")
except Error as er:  
    print("Error:", er)

Connection Succesfull

In [7]:
cursor = connection.cursor()
cursor.execute("SELECT DATABASE();")
db = cursor.fetchone()
print("Connected to:", db)

Connected to: ('littlelemondb',)

In [28]:
insert_customers = """INSERT INTO Customers (Name, Email_Address, Contact)
VALUES
('John Doe', 'john.doe@example.com', '555-1234'),
('Jane Smith', 'jane.smith@example.com', '555-5678'),
('Michael Johnson', 'michael.johnson@example.com', '555-8765'),
('Emily Davis', 'emily.davis@example.com', '555-4321'),
('David Brown', 'david.brown@example.com', '555-1122'),
('Olivia Wilson', 'olivia.wilson@example.com', '555-3344'),
('James Martinez', 'james.martinez@example.com', '555-5566'),
('Sophia Garcia', 'sophia.garcia@example.com', '555-7788'),
('Daniel Lee', 'daniel.lee@example.com', '555-9900'),
('Ava Anderson', 'ava.anderson@example.com', '555-2233');
"""

insert_menu_items = """INSERT INTO menu_items (Course_Name, Starter_Name, Dessert_Name)
VALUES
('Grilled Chicken', 'Caesar Salad', 'Chocolate Lava Cake'),
('Spaghetti Carbonara', 'Bruschetta', 'Tiramisu'),
('Beef Steak', 'Tomato Soup', 'Cheesecake'),
('Grilled Salmon', 'Garlic Bread', 'Apple Pie'),
('Chicken Parmesan', 'Fried Calamari', 'Panna Cotta'),
('Vegetable Stir-Fry', 'Spring Rolls', 'Ice Cream Sundae'),
('Lamb Chops', 'Stuffed Mushrooms', 'Fruit Tart'),
('Shrimp Scampi', 'French Fries', 'Baklava'),
('Chicken Tikka Masala', 'Onion Rings', 'Lemon Meringue Pie'),
('BBQ Ribs', 'Fried Zucchini', 'Cinnamon Roll');
"""

insert_menus = """INSERT INTO menus (Menu_Name, Cuisine, Price, Menu_Items_ID)
VALUES
('Classic Italian Feast', 'Italian', 29.99, 1),
('Sushi Delights', 'Japanese', 34.99, 2),
('Taco Fiesta', 'Mexican', 19.99, 3),
('Mediterranean Munch', 'Mediterranean', 25.99, 4),
('BBQ Grills', 'American', 22.99, 5),
('Vegetarian Vibes', 'Vegetarian', 18.99, 6),
('Asian Fusion', 'Asian', 30.99, 7),
('Royal Indian Feast', 'Indian', 27.99, 8),
('French Bistro', 'French', 35.99, 9),
('Classic Breakfast', 'American', 12.99, 10);
"""

insert_order_delivery_status = """INSERT INTO order_delivery_status (Status, Status_updated_at)
VALUES
('Pending', '2025-03-01 10:00:00'),
('Shipped', '2025-03-01 12:30:00'),
('Out for Delivery', '2025-03-01 14:00:00'),
('Delivered', '2025-03-01 16:30:00'),
('Pending', '2025-03-02 09:00:00'),
('Shipped', '2025-03-02 11:30:00'),
('Out for Delivery', '2025-03-02 13:15:00'),
('Delivered', '2025-03-02 15:45:00'),
('Pending', '2025-03-03 10:15:00'),
('Shipped', '2025-03-03 12:00:00');
"""

insert_staffs = """INSERT INTO staffs (Name, Address, Role, Contact, Salary)
VALUES
('John Doe', '123 Elm St, Springfield, IL', 'Manager', '555-1234', 55000),
('Jane Smith', '456 Oak St, Springfield, IL', 'Chef', '555-5678', 48000),
('Michael Johnson', '789 Pine St, Springfield, IL', 'Waiter', '555-8765', 30000),
('Emily Davis', '101 Maple St, Springfield, IL', 'Sous Chef', '555-4321', 42000),
('David Brown', '202 Birch St, Springfield, IL', 'Bartender', '555-1122', 35000),
('Olivia Wilson', '303 Cedar St, Springfield, IL', 'Dishwasher', '555-3344', 27000),
('James Martinez', '404 Walnut St, Springfield, IL', 'Waiter', '555-5566', 29000),
('Sophia Garcia', '505 Redwood St, Springfield, IL', 'Manager', '555-7788', 55000),
('Daniel Lee', '606 Ash St, Springfield, IL', 'Chef', '555-9900', 50000),
('Ava Anderson', '707 Cherry St, Springfield, IL', 'Host', '555-2233', 28000);
"""

insert_bookings = """INSERT INTO bookings (Table_No, Booking_Slot, Customer_ID, Staff_ID)
VALUES
(1, '2025-03-01 18:30:00', 1, 3),
(2, '2025-03-01 19:00:00', 2, 4),
(3, '2025-03-01 19:30:00', 3, 2),
(4, '2025-03-01 20:00:00', 4, 1),
(5, '2025-03-02 18:00:00', 5, 3),
(6, '2025-03-02 18:30:00', 6, 4),
(7, '2025-03-02 19:00:00', 7, 2),
(8, '2025-03-02 19:30:00', 8, 1),
(9, '2025-03-03 20:00:00', 9, 3),
(10, '2025-03-03 20:30:00', 10, 4);
"""

insert_orders = """INSERT INTO orders (Qunatity, Bill_Amount, Menu_ID, Status_ID, Booking_ID)
VALUES
(2, 39.98, 1, 1, 1),
(1, 25.99, 2, 2, 2),
(3, 56.97, 3, 1, 3),
(4, 99.96, 4, 3, 4),
(2, 42.98, 5, 2, 5),
(1, 22.50, 6, 1, 6),
(3, 68.97, 7, 3, 7),
(2, 41.98, 8, 1, 8),
(1, 29.99, 9, 2, 9),
(4, 129.96, 10, 3, 10);
"""

In [29]:
cursor.execute(insert_customers)
connection.commit() 

cursor.execute(insert_menu_items)
connection.commit() 

cursor.execute(insert_menus)
connection.commit() 

cursor.execute(insert_order_delivery_status)
connection.commit() 

cursor.execute(insert_staffs)
connection.commit() 

cursor.execute(insert_bookings)
connection.commit() 

cursor.execute(insert_orders)
connection.commit()

In [35]:
cursor.execute("""
UPDATE menus
SET Price = CASE
    WHEN Menu_Name = 'Classic Italian Feast' THEN 150
    WHEN Menu_Name = 'Sushi Delights' THEN 160
    WHEN Menu_Name = 'Taco Fiesta' THEN 155
    WHEN Menu_Name = 'Mediterranean Munch' THEN 170
    WHEN Menu_Name = 'BBQ Grills' THEN 180
    WHEN Menu_Name = 'Vegetarian Vibes' THEN 150
    WHEN Menu_Name = 'Asian Fusion' THEN 200
    WHEN Menu_Name = 'Royal Indian Feast' THEN 190
    WHEN Menu_Name = 'French Bistro' THEN 210
    WHEN Menu_Name = 'Classic Breakfast' THEN 150
    ELSE Price
END;
""")

connection.commit()

In [9]:
cursor.execute("""
UPDATE orders o
JOIN menus m ON o.Menu_ID = m.Menu_ID
SET o.Bill_Amount = m.Price * o.Quantity;
""")

connection.commit()